
{% load static %}

<!doctype html>
<html class="no-js" lang="zxx">
<head>

    {% include "base/header.html" %}
    
</head>

<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'assets/img/logo/loder.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        {% include "base/menu_horizontal.html" %}
    </header>
    <main>
        {% block conteudo %}

        {% endblock %}
    </main>
    <footer>
        {% include "base/footer.html" %}
  </footer> 
  <!-- Scroll Up -->
  <div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

{% include "base/scripts.html" %}

</body>
</html>